<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	{{> header}}
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil necessitatibus obcaecati dolore nulla veritatis quaerat, temporibus minus unde incidunt accusantium amet. Placeat accusantium, quisquam sint, nostrum veniam rerum veritatis. Ullam.</p>

	{{> footer}}
</body>
</html>